*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --color-1: #468585;
    --color-2: #50B498;
    --color-3: #9CDBA6;
    --color-4: #DEF9C4;
}

#nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1% 0;
    gap: 2vw;
}

#nav-content{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-content figure{
    width: 4vw;
    aspect-ratio: 1/1;
    background-color: var(--color-1);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-content figure img{
    max-width: 80%;
    object-fit: contain;
}

#nav-content h2{
    font-size: 3vw;
    font-weight: 400;
}

#search{
    flex: 2;
    padding: 1%;
    border-radius: 50px;
    border: 2px solid #c2c2c2;
}

#nav a{
    flex: 0.3;
    text-decoration: none;
    color: #020202;
    font-size: 1.4vw;
    font-weight: 550;
    text-align: center;
}

#nav-cart{
    flex: 0.2;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer; 
}

#nav-mask{
    width: 80%;
    aspect-ratio: 1/1;
    mask-image: url(img/cart-icon.png);
    background-color: #020202;
    mask-size: contain;
}

/* NAV 2 */

#nav-2{
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid #020202;
    padding-bottom: 1%;
}

#nav-2 ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-2 ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 450;
}

/* Main */

#main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#main h1{
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding: 5% 0;
}

#main-article-1{
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 2vw;
}

#card-1{
    flex: 6.8;
    display: flex;
}

#card-1 figcaption{
    width: 95%;
    padding: 5%;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#card-1 h2{
    color: #f2f2f2;
    font-size: 2.2vw;
    z-index: 2;
}

#card-1 a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    z-index: 2;
}

#card-figcaption-content{
    display: flex;
    align-items: center;
    z-index: 2;
}

.arrow-right{
    width: 3vw;
    aspect-ratio: 1/1;
    background-color: #f2f2f2;
    mask-image: url(img/arrow-right.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

#card-1 figure{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

#card-1 figure div{
    width: 200%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 1s ease-in-out;
}

#card-1 figure div img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#card-1 figure:hover{
    #content-slider{
        transform: translateX(-55%);
    }
}

#card-2{
    flex: 3.2;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#card-2 figure{
    width: 100%;
    aspect-ratio: 16/9;
    transition: all 2s ease-in-out;
}

#card-2 figure img{
    max-width: 100%;
    object-fit: cover;
}

#card-2 figure:hover{
    filter: grayscale(100%);
}

#card-2 figcaption{
    width: 100%;
    padding: 10%;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#card-2 figcaption a{
    font-size: 2vw;
    text-decoration: none;
    font-weight: bold;
    color: #f2f2f2;
    z-index: 2;
}

.card-figcaption{
    position: relative !important;
}

.colorChange{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-2);
    transition: all 2s ease-in-out;
    z-index: 1;
}

.card-figcaption:hover{
    .colorChange{
        width: 100%;
    }
}

/* ARTICLE 2 */

#main-article-2{
    width: 100%;
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 2vw;
    gap: 1vw;
    background-color: #9CDBA680;
}

#main-article-2 section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#main-article-2 section img{
    max-width: 100%;
    clip-path: circle();
    aspect-ratio: 1/1;
    object-fit: cover;

    transition: all 5s ease-in-out;
}

#main-article-2 section img:hover{
    transform: rotate(360deg);
}

#main-article-2 section h3{
    font-size: 1.5vw;
    color: var(--color-1);
    text-align: center;
}

/* ALERT */

#alert{
    position: fixed;
    bottom: -20%;
    width: 60%;
    padding: 3%;
    display: flex;
    align-items: center;
    gap: 2vw;
    background-color: #d2d2d280;
    backdrop-filter: blur(20px);
    z-index: 3;
    border-radius: 20px;
    left: 20%;
}

#alert div{
    flex: 1;
    aspect-ratio: 1/1;
    background-color: #020202;
    mask-image: url(img/warning-icon.png);
    mask-repeat: no-repeat;
    mask-size: contain;
}

#alert p{
    flex: 8;
    font-size: 1.2vw;
    color: #020202;
}

#alert button{
    flex: 1.3;
    padding: 1.5% 2%;
    border-radius: 100px;
    font-size: 1.2vw;
    text-transform: uppercase;
    background-color: #020202;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
}

#cartAlert{
    position: fixed;
    top: -30%;
    width: 25%;
    left: 37.5%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #d2d2d280;
    backdrop-filter: blur(20px);
}

#cartAlert h3{
    font-size: 2vw;
    background-color: var(--color-1);
    border-radius: 20px 20px 0 0;
    padding: 3% 5%;
    color: #f2f2f2;
}

#cartAlert p{
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #020202;
    height: 10vh;
}

#cartAlert figcaption{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0% 5% 3%;
}

#cartAlert button{
    width: 30%;
    margin: 0 70%;
    padding: 3% 2%;
    border-radius: 100px;
    border: none;
    background-color: var(--color-2);
    color: #f2f2f2;
    font-size: 1.2vw;
    cursor: pointer;
}

@keyframes entry {
    from{opacity: 0; transform: translateY(20%);}
    to{opacity: 1; transform: translateY(0%);}   
}

@keyframes entry-2 {
    from{bottom: -20%;}
    to{bottom: 5%;}   
}

@keyframes entry-3 {
    from{top: -30%;}
    to{top: 5%;}   
}

#made{
    position: fixed;
    bottom: 1%;
    right: 0.5%;
    border-radius: 50px;
    font-size: 1vw;
    padding: 0.5% 1%;
    color: #020202;
    background-color: #d2d2d250; 
    backdrop-filter: blur(10px);
    text-align: right;
}